* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor {
  display: flex;
}

.bloquesolido {
  background-color: #255f36;
  height: 100vh;
  flex: 0 1 30vw;
}

.imagenprincipal {
  background-image: url(./imagenes/principal.jpg);
  height: 100vh;
  flex: 0 0 50vw;
  background-size: cover;
  background-position: 57%;
}

.imagensecundaria {
  background-image: url(./imagenes/secundaria.jpg);
  height: 100vh;
  flex: 0 0 20vw;
  background-size: cover;
  background-position: 48%;
  height: 80vh;
  box-shadow: -29px 22px 66px -10px rgba(0, 0, 0, 0.75);
}

.subtitulo {
  position: absolute;
  top: 8vh;
  left: 4.5vw;
  color: white;
  font-size: 17px;
  font-family: sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

.titulo {
  position: absolute;
  top: 10vh;
  left: 4vw;
  color: white;
  font-size: 110px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

.titulo2 {
  position: absolute;
  top: 25vh;
  left: 3.7vw;
  color: white;
  font-size: 190px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

.linea {
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 100vw;
  opacity: 0.5;
}

.linea1 {
  bottom: 35vh;
}

.linea2 {
  bottom: 30vh;
}

.director {
  position: absolute;
  left: 4.5vw;
  bottom: 17.5vh;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.autor {
  position: absolute;
  left: 4.5vw;
  bottom: 7vh;
  text-transform: uppercase;
  color: #fff;
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

.autor span {
  display: block;
  line-height: 0.6;
}

.botonplay {
  position: absolute;
  top: 35vh;
  left: 35vw;
  background-color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  color: rgb(49, 49, 49);
  font-size: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botonplay i {
  transform: translateX(10%);
}

.icons {
  position: absolute;
  right: 1vw;
  bottom: 7vh;
  display: flex;
  width: 18vw;
  justify-content: space-around;
  background-color: black;
  height: min-content;
  padding: 10px;
  border-radius: 100px;
  align-items: center;
  font-size: 25px;
}

.icons i {
  color: white;
}

.genero {
  position: absolute;
  bottom: 3vh;
  left: 37vw;
  font-size: 65px;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.asterisco {
  position: absolute;
  bottom: 3vh;
  left: 34vw;
  font-size: 125px;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
}
